<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hire Me - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web_AdForm.styles.css" asp-append-version="true" />
</head>
<body>


    <header class="border advert-dropdown-button-container position-relative ">
        <img id="quote" class="w-100" src="~/quote.svg" />
        <div class="position-absolute" style="bottom: 0; left: 50%; transform: translate(-50%, -17px);"> William Owen - Digital Systems Architect</div>
       
    </header>

    <div id="ad">

    <div class="container">
        <main role="main" class="p-3">
            @RenderBody()
        </main>
    </div>

    <div class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2025 - Web_AdForm - <a asp-area="" asp-controller="AdvertForm" asp-action="Privacy">Privacy</a>
        </div>
    </div>

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/components.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
