<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hire Me - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web_AdForm.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="accordion mx-3 mt-4" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <div class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <header class="w-100 d-flex justify-content-center align-items-center">
                        <img id="quote" class="mx-1" src="~/quote.svg" style="max-height:50px; width: fit-content;" />
                        <div class="px-3"> William Owen - Digital Systems Architect</div>
                    </header>

                </div>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div id="ad">

                        <div class="container">
                            <main role="main" class="p-3">
                                @RenderBody()
                            </main>
                        </div>



                        <div class="border-top footer text-muted">
                            <div class="container text-center">
                                &copy; 2025 - Web_AdForm - <a asp-area="" asp-controller="AdvertForm" asp-action="Privacy">Privacy</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/components.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
