@model AdResponse

@{
    ViewData["Title"] = "Ad 1";
}

<!-- This is the body contentof a web page -->

<div id="" class="d-flex flex-column my-4">
    <div class="ad-content">

       

        <div class="sidebar d-flex m-auto align-items-center flex-column">
            <img id="headshot" src="https://placehold.co/600x400" alt="Alternate Text" />
            <p>I am the creator of the website you are looking at and I am always interested in picking up new jobs.</p>
        </div>

        <div class="d-flex flex-grow-1 mx-4 justify-content-center flex-column">
            <form method="post">
                @* <input asp-for="Email"/> *@
                @* <textarea asp-for="Message"></textarea> *@
                @*
                    Observed .NET behavior
                    It seems like my custom components integrate with the .NET framework as expected 
                    b/c of the field names matching the model properties.

                    @model isn't declared at the top b/c of this. The action can still bind the correct data.
                    But is is needed for asp-validation-for

                    To test the validation for I removed the frontend validation (attribute required="true") from the input and textarea
                    and manually added "*" to the alias
                    
                *@

                <input-component style="width: 48%"  type="email"
                                 fieldName="email" alias="Email*"></input-component>
                <span asp-validation-for="Email"></span>
                <textarea-component  fieldName="message" alias="Message*"></textarea-component>
                <span asp-validation-for="Message" ></span>
                <br />
                <button type="submit" class="btn btn-sm btn-primary mt-1">Submit</button>
            </form>
        </div>

        @* <div class="sidebar d-flex align-items-center " style="right: 0"> *@
        @*     <a href="#" class="mx-5"><img src="~/github-octocat-svgrepo-com.svg" alt="GitHub" style="max-width: 100%; height: auto;" /></a> *@
        @* </div> *@
    </div>

</div>
