@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Home Page</h1>

<p>This section would be replaced with a admin only view showing data collected from <a class="nav-link fw-bold d-inline-block" asp-controller="AdvertForm" asp-action="Index">the advert form</a>.</p>


<p>The following form would be a drop in ad in a web project, as an ad for myself and my programming services...</p>

<p>The top header would be all the user initially sees of the ad, and if they click the header, the ad will expand below. It would be embedded via an Iframe in the target website.</p>

<ul>
<li class="nav-item">
    <a class="nav-link fw-bold" asp-controller="AdvertForm" asp-action="Index">Click here to view the Web Ad Form #1</a>
</li>
</ul>